<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include layouts/pagetitlestudent %>
  </head>
  <body>
  <center>
    <h1>STUDENT EDIT FORM</h1><br><br>
    <form action="/student/edit/<%=data_student.id%>" method="POST">
    First Name:<br>
    <input type="text" name="first_name" value="<%=data_student.first_name %>">
    <br>
    Last Name:<br>
    <input type="text" name="last_name" value="<%=data_student.last_name %>">
    <br>
    Email:<br>
    <input type="text" name="email" value="<%=data_student.email %>">
    <br>
    <input type="submit" value="Submit">
  </form>
  </center>
  </body>
</html>
